# add all venv folder in main or sub folders
.venv/

# environment variables file
.env

# ipynb checkpoints
.ipynb_checkpoints/

#also include pycache files
__pycache__/

# also include pytest cache files
.pytest_cache/